.caixaHeader {
  width: 100%;
}

.lista {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .lista {
    flex-direction: column;
    justify-content: center;
  }
}

.conteudo {
  display: inline-flex;
  margin: 0.313rem;
  color: var(--primeira-color);
  text-decoration: none;
  border: 0.094rem dashed var(--segunda-color);
  padding: 0.31rem;
  font-size: 1.563rem;
}

@media only screen and (max-width: 600px) {
  .botao {
    font-size: 0.625rem;
  }
}

.conteudo:hover {
  color: white;
  background: var(--segunda-color);
}
